<h1>{{waterfall.name}}</h1>

<img class="waterfall-imgs" src="{{waterfall.imageUrl}}" alt="picture of {{waterfall.name}}">

<h3>Postal code:</h3>
<p>{{waterfall.postalCode}}</p>

<h3>City:</h3>
<p>{{waterfall.city}}</p>

<h3>country:</h3>
<p>{{waterfall.country}}</p>

<h3>How to get to the waterfall:</h3>
<p>{{waterfall.transportation}}</p>

<form action="/waterfall/{{waterfall._id}}/edit" method="GET">
  <button>Edit</button>
</form>

{{!-- Add confirmation alert before delete a waterfall --}}
<script>
    const confirmAction = (event) => {
    // Disable form submission
    event.preventDefault()

    const confirmed = confirm("Are you sure you want to delete it?");

    // Delete waterfall when Ok is clicked
    if(confirmed)
        document.getElementById("deleteForm").submit()
}
</script>

<a href="/waterfalls">All waterfalls</a>

<div id="map"></div>
 <script src="https://maps.googleapis.com/maps/api/js?key={{mapsApiKey}}">
</script>

<script>

   function startMap(lat, lng) {

    const map = new google.maps.Map(
      document.getElementById('map'),
      {
        zoom: 15,
        center: { lat, lng }
      }
    );

    new google.maps.Marker({
        position: {lat, lng},
        map: map,
        title: `${{{waterfall.name}}}`
      });
  }

  startMap({{waterfall.location.coordinates.[0]}}, {{waterfall.location.coordinates.[1]}});


</script>

<form class="mb-3" action="/waterfalls" method="GET">
  <button>Back to list</button>
</form>
