<h1>{{waterfall.name}}</h1>

<img class="waterfall-imgs" src="{{waterfall.imageUrl}}" alt="picture of {{waterfall.name}}">

<h3>Postal code:</h3>
<p>{{waterfall.postalCode}}</p>

<h3>City:</h3>
<p>{{waterfall.city}}</p>

<h3>country:</h3>
<p>{{waterfall.country}}</p>

<h3>How to get to the waterfall:</h3>
<p>{{waterfall.transportation}}</p>

<form action="/waterfall/{{waterfall._id}}/edit" method="GET">
  <button>Edit</button>
</form>

<form action="/waterfall/{{waterfall._id}}/delete" method="POST">
    <button type="submit" onclick="confirmAction()">Delete</button>
</form>

{{!-- Add confirmation alert before delete a waterfall --}}
<script>
    const confirmAction = () => {
    const response = confirm("Are you sure you want to delete it?");
    return response; // Return true if confirmed, false otherwise
}
</script>


<form action="/waterfalls" method="GET">
  <button>Back to list</button>
</form>