<div class="row">
  <h1 class="text-center title-form">Change details of {{waterfall.name}}</h1>
  <div class="col-6 offset-3">
    <form
      method="POST"
      action="/waterfall/{{waterfall._id}}/edit"
      enctype="multipart/form-data"
    >

      <div class="mb-3">
        <label class="form-label">
          Name Waterfall:
          <input
            class="form-control"
            type="text"
            name="name"
            placeholder="Name Waterfall"
            value="{{waterfall.name}}"
          />
        </label>
      </div>

      <div class="mb-3">
        <label class="form-label">
          Country:
          <input
            class="form-control"
            type="text"
            name="country"
            placeholder="Country"
            value="{{waterfall.country}}"
          />
        </label>
      </div>

      <div class="mb-3">
        <label class="form-label">
          City:
          <input
            class="form-control"
            type="text"
            name="city"
            placeholder="City"
            value="{{waterfall.city}}"
          />
        </label>
      </div>

      <div class="mb-3">
        <label class="form-label">
          Postal code:
          <input
            class="form-control"
            type="text"
            name="postalCode"
            placeholder="Postal Code"
            value="{{waterfall.postalCode}}"
          />
        </label>
      </div>

      <div class="mb-3">
        <label class="form-label">
          How to get here:
          <textarea
            class="form-control"
            rows="4"
            cols="40"
            type="text"
            name="transportation"
            placeholder="Share your recommendations for traveling to this waterfall"
            value="{{waterfall.transportation}}"
          ></textarea>
        </label>
      </div>

      {{! ********* IMAGE UPLOAD: *********}}
      <div class="form-group mb-3">
        <label class="form-label">Change existing image:
          <input
            class="form-control"
            {{! form-control-file also needed?}}
            type="file"
            name="waterfall-image"
          />
          <input
            type="text"
            name="existingImage"
            hidden
            value="{{waterfall.imageUrl}}"
          />
        </label>
      </div>

      <button class="btn btn-success mb-3">
        Save changes
      </button>

    </form>

    <form action="/waterfall/{{waterfall._id}}" method="GET">
      <button class="btn btn-danger mb-3">Cancel and back to waterfall details</button>
    </form>
    <br />

    <a href="/waterfalls">All waterfalls</a>

  </div>
</div>