{{!****** show waterfalls based on search ******}}
<div style="width: 100%;">
<div class="title-spacing">
  {{#if country}}
  <h1>Waterfalls in {{country}}</h1>
  {{else}}
  <h1>Explore Waterfalls</h1>
  {{/if}}

</div>

{{!****** Filter waterfalls ******}}

<div class="form-postioning">

  <form action="/waterfalls" method="GET">
      <label for="country-select">
        Filter by country:     </label>
        <select name="country" id="country-select">
              <option value="">See All</option>

                {{#each countries}}
                  <option value="{{this}}" {{#if (eq this ../country)}}selected{{/if}}>{{this}}</option>
                {{/each}}
        </select>
        <button type="submit" class="btn btn-secondary">Search</button>
  </form>

</div>





{{!****** Display list of waterfalls ******}}
<div class="container">
    <div class="row">

  {{#each waterfalls}}
      <div class="col-md-4 waterfall-card">
      <a style="text-decoration: none" href="/waterfall/{{_id}}" >        
      <div class="card">

          <img class="image" alt="waterfall image" src="{{imageUrl}}"/>
        
        <div class="card-body">
        <h5>{{name}}</h5>
        <p "card-text">📍 {{country}}</p>
        </a>
        </div> 
      </div> 
      </div>
 
  {{/each}}
</div>
<div>

